<Filename>Pizza<TITEL>.cs</Filename>
public class <TITEL>
{
    <FOREACH>
    private <TYPE> <KEY>;
    </FOREACH>

    public <TITEL>()
    {
        <FOREACH>
        <KEY> = "";
        </FOREACH>
    }
}
